body {
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
header{
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
}

main{
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
/* Center the entire content */
.parent-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Adjust as needed */
  }
  
  /* Center the header text */
  h1 {
	text-align: center;
  }
  
  /* Center the image */
  img {
	display: block;
	margin: 0 auto;
  }